<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aggralarm"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AlarmActivity"
            android:showForAllUsers="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true">
        </activity>
        <activity
            android:name=".ShakeAlarmActivity"
            android:showForAllUsers="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true">
        </activity>
        <activity
            android:name=".MathAlarmActivity"
            android:showForAllUsers="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true">
        </activity>
        <activity
            android:name=".AlarmCreate"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"

            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <service android:name="com.example.aggralarm.AlarmService"/>
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
</manifest>
